<link rel="icon" type="image/png" href="/https://github.com/LiuYuCindy/Liu.github.io/tree/master/assets/favicon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/svg+xml" href="/https://github.com/LiuYuCindy/Liu.github.io/tree/master/assets/favicon.svg" />
<link rel="shortcut icon" href="/https://github.com/LiuYuCindy/Liu.github.io/tree/master/assets/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/https://github.com/LiuYuCindy/Liu.github.io/tree/master/assets/apple-touch-icon.png" />
<link rel="manifest" href="/https://github.com/LiuYuCindy/Liu.github.io/tree/master/assets/site.webmanifest" />
